$scale = 10/144rem
#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.title {
  height: 70*$scale;
  line-height: 70*$scale;
  color: #FFFFFF;
  background-color: #272933;
}
.title-name{
  font-size: 22*$scale;
  display: inline-block;
  vertical-align: top;
}
.logo-bg-wrap{
  display inline-block
  height: 100%;
  width: 240*$scale;
}
.logo-bg{
  width: 100*$scale;
  height: 70*$scale;
  display: inline-block;
  margin-left: 60*$scale;
  background: url("./images/didi-logo.svg") no-repeat
}

.media-wrap {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
  display: flex;
}

.media-left {
  width: 75%;
  height: 100%;
  margin: 0 auto;
}

.media-right {
  width: 240*$scale;
  position: relative;
  background-color: #272933;
  color: #fff;
  padding-left: 50*$scale;
}
.key-point-wrap{
  margin-bottom: 30%;
}
.video-wrap {
  position: relative;
  width: 100%;
  height: 65%;
  margin-top: 2%;
  background-color: #333333;
}

.start-btn-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.progress-bar-wrap {
  position: absolute;
  bottom: 25*$scale;
  font-size: 14*$scale;
  width: 85%;
  margin: 0 auto;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
}

.progress-div {
  position: relative;
  display: inline-block;
  width: 98%;
  height: 9*$scale;
  background-color: #555;
  border-radius: 9*$scale;
  vertical-align: middle;
  margin-top: -2*$scale;
}

.progress-div-inner {
  border-radius: 9*$scale;
  position: absolute;
  display: inline-block;
  width: 0;
  height: 100%;
  background-color: #fff;
}

.progress-div-inner.progress-div-inner-active {
  width: 100%;
  transition-duration: 2s;
  transition-timing-function: ease-out
}

.countdown {
  font-size: 100*$scale;
  color: #61ff00;
}

.key-title {
  font-size: 22*$scale;
  height: 50*$scale;
  line-height: 50*$scale;
  margin-bottom: 10*$scale;
}

.key-list-wrap {
  font-size: 20*$scale;
}

.key-list {
  padding: 20*$scale 0;
}

.key-span {
  display: inline-block;
  width: 95*$scale;
  height: 32*$scale;
  line-height: 30*$scale;
  text-align: center;
}

.key-span.key-span-active {
  color: #FF525D;
  border: 1*$scale solid;
}
.key_word-color{
  color: #FF525D;
}


.demo-show {
  font-size: 20*$scale;
  color: #666;
  border-bottom: 1*$scale solid;
  cursor: default;
}

.demo-show.demo-show-active {
  color: green;
  cursor: pointer;
}

.image-wrap {
  position: relative;
  width: 100%;
  height: 29%;
  display: flex;
  flex-direction: column;
}
.show-key-word{
  font-size: 20*$scale;
  padding-top: 2%;
  text-align: center;
}
.image-list-inner{
  margin-right: 0.8%;
}
.image-list {
  display: flex;
  position: relative;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  transition-duration 5s;
}

.image {
  width: 100*$scale;
  height: 50*$scale;
  border: 1*$scale solid #eee;
  background-repeat: no-repeat;
  background-size: contain;
}
.image-name{
  text-align: center;
  font-size: 14*$scale;
  padding-top: 7*$scale;
}

.message-show {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  font-size: 26*$scale;
}

.footer {
  height: 3%;
  text-align: center;
  color: #7e8c8d;
}
